<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<div id="home-container">
    <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>
        
            <div id="posts-list-container">
                <ul>
                    <% for(post of posts){ %>
                        
                    <%- include('_post') -%>
                        
                    <%} %>
                </ul>
            </div>
        </section>
        
        
        <section id="user-friends">
            <h4>Friends</h4>
            <% for(u of all_users){%>
                <p>
                    <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
                </p>
            <% } %>
        </section>

        <!-- here we are adding the (chat-box) in the (home-page): -->
        <%- include('_chat_box') -%>



</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js" ></script>
<script src="/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>


<!-- here we are connecting the (socket.io) with the (client) or we can say with the (home-page) of that (client):
=> with the help of the (cdnjs)file of the (socket) library: -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>

<!-- and we are also connecting that client or we can say its home-page:with the (file) were we have  written the (socket) function for the (client) side: -->
<script src="/js/chat_engine.js"></script>

<!-- here we are putting the socket (client) side function or class: In the (home-page) that we have created: -->
<!-- we only gave the chat-box to the (user):if its logged in: -->
<!-- here we are giving the (chat-boxID) or the (user-data) to the (chat_engine) class constructor:that we have created for the (client-side):this  (chat-boxId) we will get from the(sever-side):chat-box -->

<% if (locals.user){ %>
<script>

    new ChatEngine('user-chat-box','<%= locals.user.email %>');

</script>
<% } %>

