        <link rel="stylesheet" href="/css/user_profile.css">

        <!-- here we are showing the (user) avatar-image on its (profile) webpage:-->
        <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">


        <% if(user.id == profile_user.id){ %>
            
            <!-- if user matches then show the form -->

            <!-- here In (input) form  we are  putting the (multipart/form-data) encription-type in it:
            => so that we can get the (anytype) of (input) from the (user):or we can say that the (user) will be able to (gave) any (type) of (file) in the (input) to the server:
            => like:for example (files) or (images) etc:-->


            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>

                <!-- and here we create (input) tag:through which we can get the (files) or (images) from the (user)
                => here we are basically getting the (image) from the (user):which he want to put on his (profile-page):  -->

                <input type="file" name="avatar" placeholder="Profile Picture">

                <input type="submit"  value="Update">
            </form>
            
        <%}else{%>    
            <!-- else show only the profile info -->
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
        <%} %>
